
@font-face {
    font-family: '101';
    src: url("101PUPS.TTF");
}
@font-face {
    font-family: 'disney';
    src: url("disney.otf");
}

body {
    background: no-repeat;
    background-image: url(img/fondo.jpg);
    background-size: cover;
}

p {
    font-family: 'disney';
    font-size: 35px; 
    margin-left: 50px;
}
h2{
    font-family: 'disney';
    color:red;
    font-size: 60px; 
    margin-left: 50px;
}
h4{
    font-family: '101';
    font-size: 35px; 
    margin-left: 50px;
}

#sesion{
    margin: 20px;
    color:red;
    border-radius: 20px;
    padding: 10px;
    font-family: 'disney';
    background-color: rgb(253, 172, 172);
    font-size: 50px;
    margin-left: 100px;
    margin-top: 60px;
}

#titulo{
    margin-top: 20px;
    font-family: 'disney';
    color:red;
    font-weight: bold;
    font-size: 80px; 
    margin-left: 160px;
}

#caja {
    font-family: '101';
    font-size: 20px;
    background-color: rgba(255, 28, 28, 0.45);
    width: 550px;
    height: 30px;
}

#inicio {
    margin: 20px;
    color:red;
    border-radius: 20px;
    padding: 10px;
    font-family: 'disney';
    background-color: rgb(253, 172, 172);
    font-size: 50px;
    margin-left: 100px;
    margin-top: 60px;
}



