
@font-face {
    font-family: '101';
    src: url("101PUPS.TTF");
}
@font-face {
    font-family: 'disney';
    src: url("disney.otf");
}

body {
    background: no-repeat;
    background-image: url(img/fondo.jpg);
    background-size: cover;
}

p {
    font-family: 'disney';
    font-size: 35px; 
    margin-left: 50px;
}

#titulo{
    margin-top: 20px;
    font-family: 'disney';
    color:red;
    font-weight: bold;
    font-size: 80px; 
    margin-left: 160px;
}

#caja {
    font-family: '101';
    font-size: 20px;
    background-color: rgba(255, 28, 28, 0.45);
    width: 550px;
    height: 30px;
}

