@font-face {
    font-family: 'disney';
    src: url("disney.otf");
}
@font-face {
    font-family: '101';
    src: url("101PUPS.TTF");
}

body{
    background: no-repeat;
    background-image: url(img/fondo8.jpg);
    background-size: cover;
    color: red;
    font-size: 40px;
}



p{
    font-family: '101';
    color: black;
    font-size: 20px;
    width: 350px;
   
}

#iniAcesorios{
    margin-left: 65px;
    padding: 10px;
    color:black;
    font-family: 'disney';
    background-color: rgba(229, 111, 111, 0.807);
    width: 340px;
    border: solid;
    border-radius: 20px;
    border-color: blanchedalmond;
}



#collar2 {
    background-image: url(img/accesorios/rosa.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 400px;
    height: 300px;
    
}


#productos{
    margin-top: 50px;
    margin-left: 65px;
}

li {
    list-style-image: url("img/huella.png");
}



#texto2{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(178, 158, 68);
    background-color: rgba(219, 177, 210, 0.807);
    width: 400px;
    margin-left: 20px;
    font-size: 10px;
    text-align: left;
}








#iniAlimentos{
    margin-left: 65px;
    padding: 10px;
    color:black;
    font-family: 'disney';
    background-color: rgba(229, 111, 111, 0.807);
    width: 320px;
    border: solid;
    border-radius: 20px;
    border-color: blanchedalmond;
}


#pienso1 {
    background-image: url(img/alimentos/pienso1.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 400px;
    height: 300px;
}


#texto10{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(233, 180, 37);
    background-color: rgba(240, 225, 171, 0.807);
    width: 700px;
    margin-left: 20px;
    font-size: 10px;
    text-align: left;
}
#productos4{
    margin-top: 50px;
    margin-left: 65px;
    background-color: rgba(241, 184, 184, 0.608);
    padding: 10px;
    width: 1200px;
}







#iniJuguetes{
    margin-left: 65px;
    padding: 10px;
    color:black;
    font-family: 'disney';
    background-color: rgba(229, 111, 111, 0.807);
    width: 300px;
    border: solid;
    border-radius: 20px;
    border-color: blanchedalmond;
}


#juguete4 {
    background-image: url(img/juguetes/juguete4.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 400px;
    height: 300px;
}

#productos6{
    margin-top: 50px;
    margin-left: 65px;
    background-color: rgba(241, 184, 184, 0.608);
    padding: 10px;
    width: 900px;
}


#texto17{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(235, 151, 209);
    background-color: rgba(255, 254, 207, 0.807);
    width: 400px;
    margin-left: 20px;
    font-size: 10px;
    text-align: left;
}








#iniCamas{
    margin-left: 65px;
    padding: 10px;
    color:black;
    font-family: 'disney';
    background-color: rgba(229, 111, 111, 0.807);
    width: 300px;
    border: solid;
    border-radius: 20px;
    border-color: blanchedalmond;
}

#cama1 {
    background-image: url(img/camas/cama1.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 200px;
    height: 100px;
}
#cama2 {
    background-image: url(img/camas/cama2.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 200px;
    height: 100px;
}
#cama3 {
    background-image: url(img/camas/cama3.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 200px;
    height: 100px;
}

#texto18{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(143, 147, 148);
    background-color: rgba(108, 180, 215, 0.807);
    width: 400px;
    margin-left: 20px;
    font-size: 10px;
    text-align: left;
}
#texto19{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(92, 70, 34);
    background-color: rgba(233, 208, 151, 0.807);
    width: 400px;
    margin-left: 20px;
    font-size: 10px;
    text-align: left;
}
#texto20{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(73, 73, 73);
    background-color: rgba(171, 171, 171, 0.807);
    width: 400px;
    margin-left: 20px;
    font-size: 10px;
    text-align: left;
}

#btn_camas{
    margin-left: 120px;
}


#carro{
    float: right;
    margin-right: 20px;
}
