
@font-face {
    font-family: 'disney';
    src: url("disney.otf");
}

body{
    background: no-repeat;
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    color: red;
    font-size: 35px;
}

#iniContacto{
    margin-left: 65px;
    padding: 10px;
    color:black;
    font-family: 'disney';
    font-size: 60px;
    border-color: rgb(170, 0, 0);
    background-color: rgba(229, 111, 111, 0.807);
    width: 400px;
}

