@font-face {
    font-family: 'disney';
    src: url("disney.otf");
}

body{
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    color: red;
    font-size: 20px;
}

input{
    margin: 20px;
    color:red;
    border-radius: 20px;
    padding: 10px;
    font-family: 'disney';
    background-color: rgb(253, 172, 172);
    font-size: 20px;
}

#iniAcesorios{
    margin-left: 65px;
    padding: 10px;
    border: solid;
    color:black;
    font-family: 'disney';
    border-color: rgb(170, 0, 0);
    background-color: rgba(229, 111, 111, 0.807);
    width: 200px;
}


#collar1 {
    background-image: url(img/accesorios/azul.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#collar2 {
    background-image: url(img/accesorios/rosa.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#collar3 {
    background-image: url(img/accesorios/verde.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#abrigo1 {
    background-image: url(img/accesorios/abrigo1.png);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#abrigo2 {
    background-image: url(img/accesorios/abrigo2.png);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#abrigo3 {
    background-image: url(img/accesorios/abrigo3.png);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    width: 500px;
    height: 200px;
}

#lazos1 {
    background-image: url(img/accesorios/lazos1.png);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 180px;
    height: 190px;
}

#lazos2 {
    background-image: url(img/accesorios/lazos2.png);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    border-radius: 0px;
    width: 180px;
    height: 190px;
}

#lazos3 {
    background-image: url(img/accesorios/lazos3.png);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    background-size: contain;
    width: 180px;
    height: 190px;
}


#texto1{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(178, 158, 68);
    background-color: rgba(138, 182, 199, 0.807);
    width: 475px;
    margin-left: 20px;
}
#texto2{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(178, 158, 68);
    background-color: rgba(219, 177, 210, 0.807);
    width: 475px;
    margin-left: 20px;
}
#texto3{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(178, 158, 68);
    background-color: rgba(162, 231, 212, 0.807);
    width: 475px;
    margin-left: 20px;
}

#texto4{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(238, 133, 192);
    background-color: rgba(247, 205, 234, 0.807);
    width: 475px;
    margin-left: 20px;
}
#texto5{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(243, 116, 53);
    background-color: rgba(71, 165, 233, 0.807);
    width: 475px;
    margin-left: 20px;
}
#texto6{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(71, 114, 42);
    background-color: rgba(202, 135, 188, 0.807);
    width: 475px;
    margin-left: 20px;
}

#texto7{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(224, 143, 216);
    background-color: rgba(235, 187, 228, 0.807);
    width: 300px;
    margin-left: 20px;
}
#texto8{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(0, 173, 86);
    background-color: rgba(230, 243, 129, 0.807);
    width: 300px;
    margin-left: 20px;
}
#texto9{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(163, 22, 81);
    background-color: rgba(192, 131, 153, 0.807);
    width: 300px;
    margin-left: 20px;
}
