@font-face {
    font-family: 'disney';
    src: url("disney.otf");
}

body{
    background-image: url(img/fondo2.jpg);
    background-size: cover;
    font-family: 'disney';
    font-weight: bold;
    color: red;
    font-size: 20px;
}

input{
    margin: 20px;
    color:red;
    border-radius: 20px;
    padding: 10px;
    font-family: 'disney';
    background-color: rgb(253, 172, 172);
    font-size: 20px;
}

#iniAcesorios{
    margin-left: 65px;
    padding: 10px;
    border: solid;
    border-color: rgb(63, 183, 214);
    background-color: rgba(135, 212, 227, 0.807);
    width: 180px;
}


#collar1 {
    background-image: url(img/accesorios/azul.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#collar2 {
    background-image: url(img/accesorios/rosa.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#collar3 {
    background-image: url(img/accesorios/verde.jpg);
    background-color: white;
    background-repeat:no-repeat;
    background-position:center;
    border-radius: 0px;
    width: 500px;
    height: 200px;
}

#texto{
    color:black;
    padding: 10px;
    border: solid;
    border-color: rgb(255, 215, 36);
    background-color: rgba(255, 246, 169, 0.807);
    width: 475px;
    margin-left: 20px;
}

