#body{
    background-image: url("fondo.jpg");
}

#ventana{
    width: 1000px;
    height: 800px;
    background-color: coral;
    overflow-y: scroll;
    padding: 20px
}
#display{
    color: black;
}

