@font-face {
    font-family: 'pirata';
    src: url("pirata.ttf");
}

body{
    background-color: rgb(102, 94, 94);
}

h1{
     font-family: 'pirata';
 }

#Izquierda{
    float: left;
    width: 400px;
    height: 450px;
    margin: 10px;
    background-color: plum;
}