@font-face {
    font-family: 'pirata';
    src: url("pirata.ttf");
}

body{
    background: no-repeat;
    background-image: url(fondo3.jpg);
    background-size: cover;
}

h1{
     font-family: 'pirata';
 }

#Izquierda{
    float: left;
    width: 400px;
    height: 450px;
    margin: 10px;
    background-color: rgba(243, 199, 66, 0.834);
    padding: 10px;
}